<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> The Uban Oasis | Darjeeling </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">


</head>
<body style="overflow-x:hidden">
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"> <B> The Urban Oasis </B> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/a">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/s">Services</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>            
        
    </header>
    
        <div class="container"><br>
                <h5><B>Your Home Away From Home</B></h5><br>
                
                    <P>
                            Located in the heart of one of Darjeeling's most vibrant shopping centre and just minutes away from the central business district, Urban Oasis is the perfect location for your meeting, short or long stay business trip, or holiday.<br><br>
                            Comprising of 70 spacious and tastefully furnished suites and apartments, each is fully fitted with luxury amenities to make you feel at home. Satellite television, high speed internet connection, 24-hour reception service, ample parking, business services and full laundry services are just a few of the conveniences that we provide.<br><br>
                            You can indulge in some shopping, do some banking, make travel arrangements, catch up with friends over a cup of coffee, or pamper yourself with beauty treatments available at a variety of outlets at the shopping centre. Sounds blissful doesn’t it? Come, stay, indulge and enjoy.<br><br>
                            Located just 5kms from Darjeeling city centre, in the heart of the buzzing area and within the secure Urban Shopping Centre complex, Urban Oasis cannot be beaten in terms of convenience. Shops and restaurants abound within this walkable neighbourhood that has a long held appeal for both locals and expatriates alike. As well as easy access to the shops and restaurants within famous Urban shopping centre just a few steps away, the Urban Oasis complex plays host to facilities designed to help enhance your stay.<br><br>
                    </P>
                    <h6><B>Aminities</B></h6><br>
                    <p>
                        
                        Large Sized Pool – Our full length size swimming pool is ideal for cooling off or exercising after a hectic day in the city. Alternatively, simply grab a sun lounger and soak up some rays.<br><br>
                        Tennis and Basketball Courts – Our generously proportioned, newly resurfaced courts provide the perfect to hone your sporting skills. Flood lit at night.<br><br>
                        24 Hour Gym – Our well equipped gym is accessible to residents 24 hours a day and we offer free weekly yoga sessions to all guests.<br><br>
                        Running Track – Residents have complementary access to the outdoor running track located at the School next door.<br><br>
                        Residents Lounge – Free tea and coffee is provided all day for residents. The perfect place for meeting, chatting, relaxing.<br><br>
                        Cyber Surfing – Make use of our free wifi connection by using the computers at the cyber area next to the lounge or shoot some pool. Table tennis is also available.<br><br>
                        BBQ Facility – Those who fancy some al fresco cooking should make use of our barbecue area located near the pool. Ample poolside chairs and tables provided. Free set up and clean up service available.<br><br>
                        Children’s Play Area – Our secure, sand covered play area is ideal for smaller children to while away the afternoon.<br><br>
                        Children’s Pool – Adjacent to the main swimming pool, our shallow kiddy pool is perfect for the younger ones.<br><br>
                        Games Available – Pool Table and Table Tennis.<br><br>
                    </p>
           
        </div>
<footer>
        <div class="foot" style="background-color:silver" ><br>
            <h6 style="text-align:center">The Urban Oasis, Copyright.</h6><br>
        </div>
        
    </footer>
</body>
</html>