<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> The Uban Oasis | Darjeeling </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


</head>
<body style="overflow-x:hidden">
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"> <h4><B> The Urban Oasis </B></h4> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/a">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s">Services</a>
                        </li>
                    </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
            </div>
        </nav>            
        
    </header>
    
        <div class="row">
       
            <div class="col-md-3 text-center" style="background-color:rgba(255, 255, 255, 0.500)"><br><h5><B>Rooms</B></h5><br><br>
                <img src="/static/images/penthouse.png"><br><B>Penthouse</B><br><br>
                <img src="/static/images/superDeluxe.jpg"><br><B>Super Deluxe</B><br><br>
                <img src="/static/images/Deluxe.jpg"><br><B>Deluxe</B><br><br>
            </div>
        
            <div class="col-md-6 text-center" style="background-color:rgba(245, 245, 245, 0.041)"><br><h5><B>A Peacefull Experience</B></h5><br><br>
            </div>

            <div class="col-md-3 text-center" style="background-color:rgba(255, 255, 255, 0.500)"><br><h5><B>Aminities</B></h5><br><br>
                <img src="/static/images/swimmingPool.jpg"><br><B>Swimming Pool</B><br><br>
                <img src="/static/images/gym.jpg"><br><B>Gym</B><br><br>
                <img src="/static/images/spaa.jpg"><br><B>Spa</B><br><br>
            </div>
        </div>

<footer>
    <div class="foot" style="background-color:silver" ><br>
        <h6 style="text-align:center">The Urban Oasis, Copyright.</h6><br>
    </div>
</footer>

</body>
</html>